@model IEnumerable<SaudeLivre.Models.Blog>

@{
    ViewData["Title"]="Index Blog";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-warning bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Cliente" asp-action="Index">Modo Administrador</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-warning" asp-area="" asp-controller="Cliente" asp-action="Index">Gerenciar Clientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-warning" asp-area="" asp-controller="Blog" asp-action="Index">Gerenciar Blog</a>
                        </li>
            
                    </ul>
                </div>
            </div>
        </nav>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TextoInicial)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TextoInicial)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdBlog">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdBlog">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdBlog">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
